body{
    font-family: Roboto, sans-serif;
    background: #FFFFFF;
    color: #434455;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-style: normal;
    color: #2E2F42;
}
h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
}
h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.logo>span{
    color: #4D5AE5;
}
.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.nav{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.nav a:hover,
.nav a:focus{
    color: #404BBF;
}
.address{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.address a:hover,
.address a:focus{
    color: #404BBF;
}
.hero{
    background-color: #2E2F42;
}
.hero h1{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
.hero button{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color:#4D5AE5;
    cursor: pointer;
    font-weight: 500;
     font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
     color: #FFFFFF;
}
.hero button:hover,
.hero button:focus{
    background-color:#404BBF;
}
#team h3,#team p{
    text-align: center;
} 
#team{
    background-color: #F4F4FD;
}
#team li{
    background-color: #FFFFFF;
}
.footer{
    background-color: #2E2F42;
    color: #F4F4FD;
}
.footer .logo{
    color: #F4F4FD;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
}
