body{
    font-family:"Roboto", sans-serif;
    color:#434455;
    background-color:#fff;
    font-size:  16px;
    line-height: 1.6;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.logo{
     font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
    letter-spacing: 0.03em;
}

.logo-dark {
  color: #2E2F42

}
.hero {
    padding: 120px 20px;
    background-color: #2E2F42;
    color: #ffffff;
  }
    

.hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
}
.hero-button{           
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
    text-align: start;
    letter-spacing: 0.04em;
    line-height: 1.5;
}
.hero-button:focus,
.hero-button:hover{
  background-color: #404bbf;
}


.team h2{
  color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.team h3{
  color: #2E2F42;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.team p{
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


footer{
    color: #f4f4fd;
    background-color:#2E2F42;
    
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;}
.footer-span{
    color: #f4f4fd;
}
.footer p{
  line-height: 1.5;
  letter-spacing: 0.02em;

}
.team {
  background-color: #f4f4fd;
}

.team li {
  background-color: #fff;
}
.portfolio h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height:  1.11em;
}
.portfolio h3{
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.hero {
  text-align: start;
}
.nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
color: #404bbf;
}
.contact-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}
.features{
color: #2E2F42;
}
.features p{
  font-size: 16px;
  font-weight: 400;
  line-height: 1,5;
  letter-spacing: 0.02em;
}
.features h3{
  font-size: 20px;
  font-weight: 500;
  line-height:1,2;
  letter-spacing: 0,02em;
}
.portfolio-item-text,
.portfolio p {
    line-height: 1.5;          /* або твоє значення */
    letter-spacing: 0.02em;    /* або твоє значення */
}
