/*Елементам явно не задано letter-spacing, вони успадковують його від body, але є проблема, що em розраховується від поточного розміру шрифта, тобто тут розрахунок йде від розміра шрифта заданого на боді*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #ffffff;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}
.our-team h2,
.our-portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}
.our-team ul li h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.our-portfolio ul li h3 {
  font-weight: 500;
  font-size: 20px;
}
