body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h2,
h3 {
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

a {
  color: #434455;
  text-decoration: none;
}

.logo-color {
  color: #4d5ae5;
}

/*----------------- HEADER----------------------- */

.header {
}

.header-link-logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-navigation {
}

.header-menu-list {
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link:hover,
.header-contacts-link:hover,
.header-menu-link:focus,
.header-contacts-link:focus {
  color: tomato;
}

.header-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.header-contacts-list {
}

.header-contacts-item {
}

.header-contacts-link {
}

/*----------------- HERO----------------------- */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/*----------------- FEATURES----------------------- */

.features {
}

.features-title {
}

.features-list {
}

.features-item {
}

.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------- TEAM----------------------- */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
}

.team-item {
  background-color: #fff;
}

.team-item-pictures {
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*----------------- PORTFOLIO----------------------- */

.portfolio {
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-item-pictures {
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------- FOOTER----------------------- */

.footer {
  background-color: #2e2f42;
}

.footer-link-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
